<div class="card">
    <div class="card-header">
        <h2>Cadastro de calendar</h2>
    </div>

    <div class="card-body card-padding">
      <form method="post" action="/calendar/create">
        
        <div class="form-group fg-float">
            <div class="fg-line">
                <input type="text" class="form-control fg-input" name="descricao">
                <label class="fg-label">Descrição</label>
            </div>
        </div>

        <div class="form-group fg-float">
            <div class="fg-line">
                <div class="col-sm-3 m-b-15">
                    <p class="f-500 c-black m-b-15">Categoria</p>
                    <select class="chosen" style="display: none;" name="categoria">
                      <% _.each(categorias, function(categoria){ %>
                        <option value="<%=categoria.id %>"><%=categoria.nome %></option>
                      <%})%>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group fg-float">
            <div class="fg-line">
                <div class="col-sm-3 m-b-15">
                    <p class="f-500 c-black m-b-15">Circuito</p>
                    <select class="chosen" style="display: none;" name="circuito">
                      <% _.each(circuitos, function(circuito){ %>
                        <option value="<%=circuito.id %>"><%=circuito.nome %></option>
                      <%})%>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group fg-float">
            <div class="fg-line">
                <div class="col-sm-4">
                    <p class="c-black f-500 m-b-20">Data de Inicio</p>
                    <div class="input-group form-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                            <div class="dtp-container fg-line">
                            <input type="text" class="form-control date-picker" placeholder="Selecione uma data..." name="dtinicio">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group fg-float">
            <div class="fg-line">
                <div class="col-sm-4">
                    <p class="c-black f-500 m-b-20">Data de Fim</p>
                    <div class="input-group form-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                            <div class="dtp-container fg-line">
                            <input type="text" class="form-control date-picker" placeholder="Selecione uma data..." name="dtfim">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
          <div class="col-md-10 col-md-offset-2">
          <a class="btn btn-default btn-lg waves-effect" href="/calendar">Cancelar</a>
          <button class="btn palette-Teal btn-lg bg waves-effect" type="submit">Salvar</button>
          </div>
        </div>
      </form>
      <br>
    </div>
</div>