<!DOCTYPE html>
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Material Admin</title>
        <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
        <!-- Vendor CSS -->
        <script src="/vendors/bower_components/jquery/dist/jquery.min.js"></script>
        <link href="/vendors/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
        <link href="/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
        <link href="/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
        <link href="/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">        
        <link href="/vendors/bower_components/google-material-color/dist/palette.css" rel="stylesheet">
        
        <!-- CSS -->
        <script src="/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js"></script>
        <link href="/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css" rel="stylesheet"> 

        <link href="/vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet">
        <script src="/vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>

        <script src="/vendors/sparklines/jquery.sparkline.min.js"></script>
        <link href="/vendors/bower_components/chosen/chosen.min.css" rel="stylesheet">
        <script src="/vendors/bower_components/chosen/chosen.jquery.min.js"></script>

        <link href="/styles/app.min.1.css" rel="stylesheet">
        <link href="/styles/app.min.2.css" rel="stylesheet"> 
        <link href="/vendors/flags/css/flag-icon.css" rel="stylesheet"> 
        <script src="/js/demo.js"></script>
        <link href="/styles/demo.css" rel="stylesheet"> 
        <script src="/js/functions.js"></script>
        
    </head>
    <body data-ma-header="teal">
        <header id="header" class="media">
            <div class="pull-left h-logo">
                <a href="/" class="hidden-xs">
                    GP Calendar   
                    <small>v1.0</small>
                </a>
                
                <div class="menu-collapse" data-ma-action="sidebar-open" data-ma-target="main-menu">
                    <div class="mc-wrap">
                        <div class="mcw-line top palette-White bg"></div>
                        <div class="mcw-line center palette-White bg"></div>
                        <div class="mcw-line bottom palette-White bg"></div>
                    </div>
                </div>
            </div>

            <ul class="pull-right h-menu">
                <li class="hm-search-trigger">
                    <a href="#" data-ma-action="search-open">
                        <i class="hm-icon zmdi zmdi-search"></i>
                    </a>
                </li>
                
                <li class="hm-alerts" data-user-alert="sua-messages" data-ma-action="sidebar-open" data-ma-target="user-alerts">
                    <a href="#"><i class="hm-icon zmdi zmdi-notifications"></i></a>
                </li>
                <li class="dropdown hm-profile">
                    <a data-toggle="dropdown" href="#">
                        <img src="images/profile-pics/1.jpg" alt="">
                    </a>
                    
                    <ul class="dropdown-menu pull-right dm-icon">
                        <li>
                            <a href="#"><i class="zmdi zmdi-settings"></i> Settings</a>
                        </li>
                        <li>
                            <a href="#"><i class="zmdi zmdi-time-restore"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            
            <div class="media-body h-search">
                <form class="p-relative">
                    <input type="text" class="hs-input" placeholder="Procurar corridas">
                    <i class="zmdi zmdi-search hs-reset" data-ma-action="search-clear"></i>
                </form>
            </div>
            
        </header>

        <section id="main">
        

            <aside id="s-main-menu" class="sidebar">
                

                <ul class="smm-alerts">
                    <li>
                        <i class="zmdi zmdi-notifications"></i>
                    </li>
                </ul>

                <ul class="main-menu">
                    <li class="active">
                        <a href="index.html"><i class="zmdi zmdi-home"></i> Inicio</a>
                    </li>
                    <li class="sub-menu">
                        <a href="#" data-ma-action="submenu-toggle"><i class="zmdi zmdi-view-compact"></i> Cadastros</a>

                        <ul>
                            <li><a href="/categoria">Categorias</a></li>
                            <li><a href="/circuito">Circuitos</a></li>
                        </ul>
                    </li>
                </ul>
            </aside>
            <% if (typeof flash != "undefined"){ %>
          <% if(flash && flash.err){ %>
              <% var texto = ""; %>
              <%var tempo = 10000; %>
              <% var cor = 'red darken-2'; %>
              <% Object.keys(flash.err).forEach(function(error){ %>
                  
                  <% if (typeof flash.err[error].msg != "undefined") {
                  
                      cor = 'blue';
                      tempo = 0;
                      texto = flash.err[error].msg;

                      if(flash.err[error].tipomsg === 'erro'){ cor = 'red darken-2'; tempo = 4000 }
                      if(flash.err[error].tipomsg === 'sucess'){ cor = 'green darken-2'; tempo = 4000}
                      if(flash.err[error].tipomsg === 'warning'){ cor = 'yellow darken-2'; tempo = 4000}
                    
                    } else {
                      
                      texto += JSON.stringify(flash.err[error]) + " ";

                    }

                  %>
              <% }) %>
              <script type="text/javascript">
                    notify('<%=texto%>', 'inverse');
              </script>
          <% } %>
        <% } %>
            <section id="content">
                <div class="container">
                    <div class="card">
                        <%- body %>
                    </div>
                </div>
            </section>

        </section>

        <!-- Page Loader -->
        <div class="page-loader palette-Teal bg">
            <div class="preloader pl-xl pls-white">
                <svg class="pl-circular" viewBox="25 25 50 50">
                    <circle class="plc-path" cx="50" cy="50" r="20"/>
                </svg>
            </div>
        </div>
        
        <!-- Javascript Libraries -->
        <script src="/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="/vendors/bower_components/Waves/dist/waves.min.js"></script>
        <script src="/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
        <script src="/vendors/bower_components/moment/min/moment.min.js"></script>
        <script src="/vendors/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
        <script src="/vendors/bower_components/simpleWeather/jquery.simpleWeather.min.js"></script>
        <script src="/vendors/bower_components/salvattore/dist/salvattore.min.js"></script>

        <script src="/vendors/bower_components/flot/jquery.flot.js"></script>
        <script src="/vendors/bower_components/flot/jquery.flot.resize.js"></script>
        <script src="/vendors/bower_components/flot.curvedlines/curvedLines.js"></script>
        <script src="/vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
        <script src="/js/flot-charts/curved-line-chart.js"></script>
        <script src="/js/flot-charts/line-chart.js"></script>

        <script src="/js/charts.js"></script>
        <script src="/js/actions.js"></script>

    </body>
</html>